@import 'nib'

global-reset()

highlight = #999
lowlight  = #555

body
  background-color white
  overflow hidden

h1
  font-family 'Lemon', cursive
  width 100%
  text-align center
  font-size  35em
  absolute top 10% left 0
  color white
  text-shadow 0 -1px #eee, 0 1px 0 #ddd
  margin-left -2%

p
  position fixed
  color #333
  font-family 'Philosopher', sans-serif
  &.name.reason
    bottom 4em
    left   5%
    .definition
      color #222
      font-weight bold
  &.capitalization.backstory
    bottom 2.625em
    right  5%
    a
      text-decoration none
      font-style oblique
      color #111

#aio
  position: fixed
  top   0
  left  -.5em
  right -.5em
  height 2em
  background linear-gradient(top, highlight, lowlight)
  box-shadow 0 0 10px black
  border-bottom 2px solid highlight
  .hidden
    display none
  .first.steps
    absolute top 0 left 7em
    line-height 2em
    li
      display inline-block
      width 10em
      padding-left 1em
      font-family 'Pontano Sans', sans-serif
      color #555
      &.active
        color #333
        text-shadow 0 1px 2px lowlight, 0 -1px 2px highlight
      &.completed
        color transparent
        text-shadow 0 -1px 2px transparent, 0 1px 2px transparent
  .user.search
    absolute top 0 left .5em
    .name
      font-size 1em
      height 1.45em
      width  8em
      margin  .125em
      padding 0 .25em
      font-family 'Pontano Sans', sans-serif
      background-color #333
      border none
      color #999
      text-shadow 0 -1px 0 #222, 0 1px 0 #444
      box-shadow  0 1px 2px #999, 0 -1px 2px #111
      margin-top    .325em
      margin-left   .25em
      border-radius .125em
  .chattable.users
    absolute top 2.5em left .725em
    border-radius .5em
    border 3px solid highlight
    background-color white
    padding .125em
    box-shadow 0 3px 15px black
    z-index 1000
    li.name
      padding .375em
      border-bottom 1px solid #eee
      color highlight
      &:hover
        cursor pointer
      .screen
        font-family 'Pontano Sans', sans-serif
        margin-right .5em
      .human
        font-family 'Philosopher', sans-serif
      &:last-child
        border-bottom none
  .chatting.with
    position fixed
    top    0
    left   9em
    right  0
    bottom 50%
    > li
      display inline-block
      width 19.2em
      margin-right 1em
      vertical-align top
      height 100%
      .human.name
        width  13.37em // hawt
        height 1.3em
        font-size   1.5em
        line-height 1.2em
        text-align center
        font-family 'Lemon', cursive
        color #333
        text-shadow 0 -1px highlight, 0 1px 0 lowlight
        cursor pointer
      .messages
        margin-top .5em
        border-top   3px solid lowlight
        border-left  3px solid lowlight
        border-right 3px solid lowlight
        border-top-left-radius  .25em
        border-top-right-radius .25em
        background linear-gradient(top, lowlight,  #454545)
        box-shadow inset 0 2px 5px rgba(black, .5), 0 5px 10px #999
        font-family 'Philosopher', sans-serif
        color #333
        width 18.85em
        height 80%
        overflow-x scroll
        padding-bottom .1em
        &:after
          display block
          margin-left -19.2em
          height 80%
          width  19.2em
        li
          width 15em
          text-shadow 0 1px 0 white
          padding .25em .5em
          border-bottom 1px solid #aaa
          border-top    1px solid white
          border-left   1px solid #bbb
          border-right  1px solid #bbb
          background-color #eee
          &:first-child
            border-top-left-radius  .125em
            border-top-right-radius .125em
          &:last-child
            border-bottom none
          &.self
            padding-left 4em
            color #999
            width 14.2em
            text-shadow none
          &.other
            width 17.7em
      .new.message
        border-left   3px solid lowlight
        border-right  3px solid lowlight
        border-bottom 3px solid lowlight
        border-bottom-left-radius  .375em
        border-bottom-right-radius .375em
        background-color white
        box-shadow 0 5px 10px #999
        input
          border-bottom-left-radius .5em
          width 23.5em
          border none
          margin-left .6em
          font-family 'Pontano Sans', sans-serif
          letter-spacing 1px
          &:focus
            outline none
        button
          background-color white
          border none
          font-family 'Pontano Sans', sans-serif
          letter-spacing 1px
          border-left 1px solid #ddd
  .sign.in
    absolute top .4em left 1.5em
    padding .5em 1.5em
    background linear-gradient(top, #666, #222)
    text-shadow 0 -1px 0 #222
    color white
    font-family 'Pontano Sans', sans-serif
    text-decoration none
    letter-spacing 1px
    line-height 1em
    height 1em
    box-shadow 0 -1px 2px #aaa, 0 1px 2px #111
    font-size .75em
    border-radius .25em

