@import 'nib'

global-reset()

@keyframes slide_down-fade_in
  0%
    top 2em
    opacity 0
    box-shadow 0 0 0 black
  100%
    top 2.5em
    opacity 1
    box-shadow 0 3px 15px black
@keyframes slide_up-fade_out
  0%
    top 2.5em
    opacity 1
    box-shadow 0 3px 15px black
  100%
    top 2em
    opacity 0
    box-shadow 0 0 0 black
@keyframes slide_down-fade_in_messages
  0%
    margin-top 0
    opacity 0
    box-shadow inset 0 2px 5px rgba(black, .5), 0 0 0 rgba(black, .7)
  50%
    margin-top 0
    opacity 0
    box-shadow inset 0 2px 5px rgba(black, .5), 0 0 0 rgba(black, .7)
  100%
    top .5em
    opacity 1
    box-shadow inset 0 2px 5px rgba(black, .5), 0 5px 10px rgba(black, .7)
@keyframes slide_down-fade_out_messages
  0%
    top 2.5em
    opacity 1
    box-shadow inset 0 2px 5px rgba(black, .5), 0 5px 10px rgba(black, .7)
  50%
    top 2.5em
    opacity 1
    box-shadow inset 0 2px 5px rgba(black, .5), 0 5px 10px rgba(black, .7)
  100%
    top 3em
    opacity 0
    box-shadow inset 0 2px 5px rgba(black, .5), 0 0 0 rgba(black, .7)
@keyframes slide_in-user_name
  0%
    margin-left -.1em
    opacity 0
    text-shadow 0 0 0 transparent, 0 0 0 transparent
  100%
    margin-left .4em
    opacity 1
    text-shadow 0 -1px #FFD8A6, 0 1px 0 #A66B1F
@keyframes slide_out-user_name
  0%
    margin-left .4em
    opacity 1
    text-shadow 0 -1px #FFD8A6, 0 1px 0 #A66B1F
  100%
    margin-left -.1em
    opacity 0
    text-shadow 0 0 0 transparent, 0 0 0 transparent
@keyframes fade_in-new_message
  0%
    opacity 0
  50%
    opacity 0
  100%
    opacity 1
@keyframes fade_out-new_message
  0%
    opacity 1
  50%
    opacity 1
  100%
    opacity 0
@keyframes slide_in-self-message
  0%
    opacity 0
    right -19em
  50%
    opacity 0
    right -19em
  100%
    opacity 1
    right 0em
@keyframes slide_in-other-message
  0%
    opacity 0
    left -19em
  50%
    opacity 0
    left -19em
  100%
    opacity 1
    left 0em
@keyframes fade_in_chat_window
  0%
    display none
  50%
    display inline-block
  100%
    display inline-block
@keyframes depress_aio_header
  0%
    background-color #efefef
    text-shadow 0 0 0 transparent
  50%
    background-color #efefef
    text-shadow 0 0 0 transparent
  100%
    background-color rgba(88, 129, 158, .25)
    text-shadow 0 2px 2px rgba(white, .5)

highlight = #999
lowlight  = #555

body
  background #efefef
  overflow hidden

h1
  font-family 'Lemon', cursive
  width 100%
  text-align center
  font-size  35em
  absolute top 10% left 0
  color white
  // I'll need to move these next three lines into a media query or something
  color transparent
  -webkit-background-clip text
  background-color #efefef
  text-shadow 0 0 0 transparent
  &.active
    animation depress_aio_header 2.64s
    background-color rgba(88, 129, 158, .25)
    text-shadow 0 2px 2px rgba(white, .5)


// For Firefox
.no-websqldatabase
  h1
    color rgba(88, 129, 158, .15)
    background-color transparent
    text-shadow 0 2px 3px rgba(white, .7)
  #aioim .chatting.with > li
    .new.message
      width 18.75em
      input
        width 22.9em
        padding 3px 5px 4px 4px

body > p
  position fixed
  color black
  text-shadow 0 1px 0 white
  font-family 'Philosopher', sans-serif
  &.name.reason
    bottom 4em
    left   5%
    .definition
      color #222
      font-weight bold
  &.capitalization.backstory
    bottom 2.625em
    right  5%
    a
      text-decoration none
      font-style oblique
      color #111

#aioim
  position: fixed
  top   0
  left  -.5em
  right -.5em
  height 2em
  background linear-gradient(top, #FFCA86, #A66B1F)
  box-shadow 0 1px 2px white
  .hidden
    top  -100em !important
  .gone
    display none
  .first.steps
    absolute top 0 left 7em
    right 0
    line-height 2em
    li
      display inline-block
      width 25%
      text-align center
      font-family 'Pontano Sans', sans-serif
      color rgba(black, .125)
      &.active
        color black
        text-shadow 0 -1px 1px #FFD8A6, 0 1px 1px #A66B1F
      &.completed
        color transparent
        text-shadow 0 -1px 2px transparent, 0 1px 2px transparent
  .user.search
    absolute top 0 left .5em
    .name
      font-size 1em
      height 1.45em
      width  8em
      margin  .125em
      padding 0 .25em
      font-family 'Pontano Sans', sans-serif
      background-color black
      border none
      color #FFB95E
      box-shadow  0 1px 2px rgba(192, 192, 192, .7), 0 -1px 2px rgba(8, 8, 8, .7)
      margin-top    .325em
      margin-left   .25em
      border-radius .125em
  .chattable.users
    absolute top 2.5em left 1.1em
    border-radius .25em
    border 3px solid #1A8D59
    background linear-gradient(top, #56A380, #1A8D59)
    box-shadow 0 3px 15px black
    z-index 1000
    &.active
      animation slide_down-fade_in .33s
    &.hidden
      animation slide_up-fade_out .33s
    li.name
      border 1px solid transparent
      background-color transparent
      color #9AECC7
      width 10em
      text-shadow 0 -1px rgba(black, .35)
      &:hover
        cursor pointer
        background-color #1A8D59
        color white
        border 1px solid #56A380
        box-shadow inset 0 1px 2px rgba(black, .5), 0 1px 2px rgba(black, .5)
        border-radius .125em
        .screen
          color white
          text-shadow 0 -1px 0 rgba(black, .35)
      .screen
        font-family 'Pontano Sans', sans-serif
        display inline-block
        width  100%
        height 100%
        padding .375em
      .human
        font-family 'Philosopher', sans-serif
  .chatting.with
    position fixed
    top    0
    left   9em
    right  0
    bottom 3.5em
    > li
      display inline-block
      width 19.2em
      margin-right 1em
      vertical-align top
      height 100%
      &.active
        animation fade_in_chat_window .66s
        .messages
          animation slide_down-fade_in_messages .66s
          .self
            animation slide_in-self-message .66s
          .other
            animation slide_in-other-message .66s
        .human.name
          animation slide_in-user_name .33s
        .new.message
          animation fade_in-new_message .66s
      &.hidden
        animation fade_out-chat_window .66s
        .messages
          animation slide_down-fade_out_messages .66s
        .human.name
          animation slide_out-user_name .33s
        .new.message
          animation fade_out-new_message .66s
      .human.name
        width  10.8em // hawt
        height 1.3em
        font-size   1.5em
        line-height 1.2em
        text-align center
        font-family 'Lemon', cursive
        color black
        text-shadow 0 -1px #FFD8A6, 0 1px 0 #A66B1F
        cursor pointer
        text-align left
        display inline-block
        margin-left .4em
        white-space nowrap
        text-overflow ellipsis
      .close
        font-family 'EntypoRegular'
        font-size 3em
        display inline-block
        position relative
        line-height .6em
        width .7em
        text-align right
        text-decoration none
        vertical-align bottom
        color black
        text-shadow: 0 -1px 1px #FFD8A6, 0 1px 1px #A66B1F
      .messages
        margin-top .5em
        border-top   3px solid #1C5C89
        border-left  3px solid #1C5C89
        border-right 3px solid #1C5C89
        border-top-left-radius  .25em
        border-top-right-radius .25em
        background linear-gradient(top, #58819E, #1C5C89)
        box-shadow inset 0 2px 5px rgba(black, .5), 0 5px 10px rgba(black, .7)
        font-family 'Philosopher', sans-serif
        color #333
        width 18.85em
        height 80%
        overflow-y auto
        overflow-x hidden
        padding-bottom .1em
        .quote
          position absolute
          bottom 14%
          width 11.55em
          font-size 1.5em
          background-color transparent
          border none
          box-shadow none !important
          z-index 0
          p
            absolute bottom, left
            padding .5em
            color #8D8FEC
            text-shadow 0 -1px 2px #333
        li
          width 15em
          text-shadow 0 1px 0 white
          padding .25em
          border-bottom 1px solid #aaa
          border-top    1px solid white
          border-left   1px solid #bbb
          border-right  1px solid #bbb
          background-color #eee
          z-index 100
          position relative
          &:first-child
            border-top-left-radius  .125em
            border-top-right-radius .125em
          &:last-child
            border-bottom none
            box-shadow 0 2px 5px rgba(black, .5)
          &.self
            padding-left 4em
            color #82BEE9
            width 14.45em
            text-shadow none
          &.other
            width 18.2em
            .message
              position relative
              display inline-block
              width 15.95em
              padding-right .25em
            &:hover
              .favorite
              .retweet
                visibility visible
            .favorite
            .retweet
              visibility hidden
            .favorited
            .retweeted
              visibility visible
            a
              display inline-block
              width 1em
              background-image url("http://bsgbryan.github.com/AiOIM/app/images/everything-spritev2.png")
              text-decoration none
              background-position-y -1px
            .favorite
              background-position-x 95px
              &:hover
                background-position-x 79px
            .retweet
              background-position-x 48px
              &:hover
                background-position-x 32px
            .favorited
              background-position-x 63px
            .retweeted
              background-position-x 16px
      .new.message
        border-left   3px solid #1C5C89
        border-right  3px solid #1C5C89
        border-bottom 3px solid #1C5C89
        border-bottom-left-radius  .25em
        border-bottom-right-radius .25em
        background-color #1C5C89
        box-shadow 0 5px 10px rgba(black, .7)
        padding-top  .2em
        padding-left .15em
        .char.counter
          background-color #82BEE9
          font-family 'Philosopher', sans-serif
          padding 5px 0 2px 0
          border-top 0px solid #82BEE9
          margin-bottom 2px
          display inline-block
          line-height 1.2em
          vertical-align bottom
          border-top-left-radius .25em
          border-bottom-left-radius .25em
          letter-spacing 1px
          width 2.5em
          box-sizing border-box
          font-size .75em
          text-align center
          border-left 2px solid #82BEE9
          color white
          text-shadow 0 -1px 0 #569FD3
        .content
          width 21.6em
          margin-left 0
          font-family 'Pontano Sans', sans-serif
          letter-spacing 1px
          padding 2px 5px 3px 4px
          border-top    1px solid #82BEE9
          border-left   none
          border-bottom 1px solid #82BEE9
          border-right  none
          background-color #9DCAE9
          box-shadow inset 0 1px 2px #569FD3
          color #1C5C89
          box-sizing border-box
          &::-webkit-input-placeholder
            color #569FD3
          &:-moz-placeholder
            color #569FD3
          &:focus
            outline none
        button
          padding 2px 5px 3px 5px
          background linear-gradient(top, #9DCAE9 0%, #58819E 100%)
          font-family: 'Pontano Sans', sans-serif;
          margin 0
          color white
          border-bottom-right-radius .25em
          border-top-right-radius    .25em
          letter-spacing 1px
          text-shadow 0 -1px 0 #1C5C89
          border 1px solid #82BEE9
  .sign.in
    absolute top .4em left 1.5em
    padding .5em 1.5em
    background linear-gradient(top, #666, #222)
    text-shadow 0 -1px 0 #222
    color white
    font-family 'Pontano Sans', sans-serif
    text-decoration none
    letter-spacing 1px
    line-height 1em
    height 1em
    box-shadow 0 -1px 2px #aaa, 0 1px 2px #111
    font-size .75em
    border-radius .25em

@media screen and (max-device-width: 640px)
  html, body
    width  100%
    height 100%
  h1
  p.capitalization.backstory
  p.name.reason
    display none
  #aioim
    relative top, left
    width  100%
    height 100%
    .user.search
      absolute top, left
      right 0
      height 3em
      .name
        height 2.5em
        width  85%
        padding 0 .75em
        margin-top  .5em
        margin-left .75em
    .sign.in
      absolute top 20% left 15%
      height 15%
      font-size 2em
      width 40%
      padding-top 5%
      padding-bottom 0
      line-height 1em
    .first.steps
      absolute bottom 25% left 0%
      top auto
      width 100%
      line-height 1em
      font-size 2em
      text-align center
      li, .completed
        display none
      .active
        display inline-block
        width 100%
    .chattable.users
      overflow-y auto
      overflow-x hidden
      bottom 1em
      top    3.5em
      li
        width 9.7em
    .chatting.with
      absolute top 2.25em left 0
      bottom 0
      right  0
      z-index 20
      & > li
        absolute top -2.25em left 0
        background-color #FFB95E
        right  0
        bottom 0
        width  100%
        height auto
        padding-top .375em
        .human.name
          width 85%
        .messages
          absolute top 2.25em left 0
          right  0
          bottom 2.5em
          border-right none
          border-left  none
          border-top   none
          border-top-left-radius  0
          border-top-right-radius 0
          overflow-y auto
          overflow-x hidden
          width 100%
          height auto
          li
            width 100% !important
          .quote
            display none

        .new.message
          absolute bottom 0 left 0
          right 0
          height 2.5em
          border-bottom none
          border-left   none
          border-right  none
          border-bottom-right-radius 0
          border-bottom-left-radius  0
          input
            border-top-left-radius     3px
            border-bottom-left-radius  3px
            border-top-right-radius    0
            border-bottom-right-radius 0
            width  80%
            height 1.3em
            font-size 1.75em
            padding 0px 5px 0px 4px
          button
            padding 0px 5px 5px 6px
            position absolute
            right .2em
            border-bottom-right-radius 3px
            border-top-right-radius    3px
            font-size 1.5em