@import 'nib'

global-reset()

#loqui
  absolute bottom, left
  right 0
  height 2em
  background linear-gradient(top, #eee, #ccc)
  .hidden
    display none
  .sign.in
    absolute top, left
    padding .5em
    background linear-gradient(top, #aaa, #888)
    text-shadow 0 -1px 0 #333
    color white
    font-family sans-serif
    text-decoration none
