!!! 5
html
  head
    title AiO. Say yes.
    link(rel='stylesheet', href='/stylesheets/aio.css')
    link(href='http://fonts.googleapis.com/css?family=Lemon|Philosopher:400,700,400italic|Pontano+Sans', rel='stylesheet')
  body
    h1 AiO
    p.name.reason "aio" is Latin and means 
      span.definition say yes, assert, say, speak, or assent
    p.capitalization.backstory AiO is capitalized in honor of my favorite video game of all time: 
      a(href='http://en.wikipedia.org/wiki/Nights_into_Dreams...', target='_new') NiGHTS Into Dreams...
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js')
    script(src='/sha1/index.js')
    script(src='/javascript/aio.js')
    script
      $.aio()
    //- #aio
    //-   asign.in.hidden(href="/twitter/signin") sign in
    //-   ol.chattable.users
    //-     li.user.name.selected
    //-       a.screen bsgbryan
    //-       span.human Bryan Maynard
    //-   ul.chatting.with
    //-     li.user#cbcb0e3d20114e3ba4d505cbc453765650d8da7f(data-screen_name="bsgbryan")
    //-       h3.human.name Bryan Maynard
    //-       ol.messages
    //-         li.self @bsgbryan fooo, gooooo IM
    //-       form.new.message
    //-         // Idea: Have the placeholder be a randomly selected aio definition: say yes, assert, say, speak, or assent
    //-         input(type="text", name="message", placeholder="say yes")
    //-         button(type="submit") say
    //-   form.user.search
    //-     input.name(type="text", placeholder="Find a tweeter")